<div class="app-content">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :start_year => Time.now.year - 100, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %></br />
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :travel_distance %><br />
    <%= f.text_field :travel_distance, class: "form-control" %>
  </div>

  <label>Interests</label>
  <small><em>We'll match you with other women with similar interests</em></small>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      business
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      science and technology
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      music
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      leadership
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      public speaking
    </label>
  </div>
  <div class="checkbox form-group">
    <label>
      <input type="checkbox">
      <input type="text" placeholder="arts, health care..." class="form-control">
    </label>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
