<!-- <h1><a><%=@group.name%></a></h1> -->
<!-- <h3>Message your circle:</h3> -->
<!-- <input type="text" class="form-control" placeholder="Message your circle"> -->
<!-- <p>This message will be sent to each user via their selected technology accessibility level.</p> -->
<!-- <button class= "btn btn-info pull-right">Send</button> -->
<h1><a>Empowering Ghana</a></h1>
<textarea class="form-control" placeholder="Message your circle..."></textarea>
</br>


<% @group.users.where.not(id: current_user).each do |user| %>

<div class="col-sm-4">
  <img class="img-circle img-responsive img-center" src="images/image<%=user.id%>.jpg" alt="">
  <h2><centre><%= link_to user.name, user %></centre></h2>
  <input type="text" class="form-control" placeholder="Enter Message">
  <button class= "btn btn-info">Send</button>

  <p>Email: <%=user.email%></p>
  <p>Location: <%=user.location%></p>
  <p>Travel Radius: <%=user.travel_distance%></p><hr>

</div>
<%end%>

