<h1>Rankings after 6 weeks: <span class="label label-info">42 points possible</span></h1><hr>
<% @groups.each_with_index do |group, index| %>

<div>
  <h2>#<%=index + 1%> <span class="label label-success"><%=group.attendance%> points</span></h3>
  <h3>Team: <%= link_to group.name, group %></h3>
  <h3>Project: <%=group.project_name%></h3>
  <p><i><%=group.project_description%></i></p>
</div>
    <%if index == 0 %>
      <%group.users.where.not(role: "mentor").each do |user|%>
        <div class="col-xs-4">
          <img src="images/image<%=user.id%>.jpg" alt="" height="150" width="150" class="img-responsive img-rounded center-block">
          <h3><center><%= link_to user.name, user %></center></h3>
          <hr>
        </div>
      <%end%>
    </br>
    <%end%>
</br><hr>
<%end%>

