<h1>Rankings after 6 weeks: <span class="label label-info">42 points possible</span></h1><hr>
<% @groups.each_with_index do |group, index| %>

<div>
  <h1>#<%=index + 1%> <%= link_to group.name, group %></h1>
  <h3><%=group.attendance%> points </h3>
  <h2><%=group.project_name%></h2>
  <h3><%=group.project_description%></h3>
</div>
    <%if index == 0 %>
      <%group.users.where.not(role: "mentor").each do |user|%>
        <div class="col-sm-4">
          <img src="images/image<%=user.id%>.jpg" alt="" height="100" width="100">
          <h3><%= link_to user.name, user %></h3>
        </div>
      <%end%>
    </br>
    <%end%>
</br>
<%end%>
