<!DOCTYPE html>
<html>
<head>
  <title>Connect For Change</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="Connect For Change"/>
  <meta property="og:description" content="Discovering tech-driven solutions to connect girls and women around the world"/>
  <meta property="og:image" content='<%= image_url "connect.png" %>'/>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href='/'>Connect For Change</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
          <%= render nav_bar_partial%>
        </ul>
   </div>
</nav>

<div class='container-fluid'>
  <section class="notices">
    <% if notice %>
      <p class="alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert-danger"><%= alert %></p>
    <% end %>
  </section>

  <%= yield %>
</div>

</body>
</html>
