<!DOCTYPE html>
<html>
<head>
  <title>Connect For Change</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta property="og:title" content="Connect For Change"/>
  <meta property="og:description" content="Discovering tech-driven solutions to connect girls and women around the world"/>
  <meta property="og:image" content='<%= image_url "connect.jpg" %>'/>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body class="royal_preloader scrollreveal">
  <div id="royal_preloader"></div>

  <!-- Begin Boxed or Fullwidth Layout -->
  <div id="bg-boxed">
    <div class="boxed">

      <!-- Begin Header -->
      <header>

      <%= render landing_top_bar_partial %>

        <!-- Begin Navigation -->
        <div class="navbar">
          <div class="container container-header">
            <div class="navbar-header">
              <!-- Brand -->
              <a href="/" class="navbar-brand">
                <div class="css-logo"></div> <%= image_tag "logo.png", class: "raleway-logo" %>
              </a>
              <!-- Mobile Navigation -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div><!-- /navbar header -->

            <!-- Main Navigation -->
            <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
              <ul class="nav navbar-nav navbar-right">
                <%= render nav_bar_partial %>
              </ul><!-- /navbar right -->
            </nav><!-- /nav -->

          </div><!-- /container header -->
        </div><!-- /navbar -->
        <!-- End Navigation -->

      </header><!-- /header -->
      <!-- End Header -->

      <%= render landing_carousel_partial %>

      <!-- Begin 3 Services -->
      <div class="background-light-grey pt60 pb60 border-bottom">
        <div class="container">
          <div class="row">

            <section class="notices">
              <% if notice %>
                <p class="alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert-danger"><%= alert %></p>
              <% end %>
            </section>

            <%= yield %>

          </div>
        </div><!-- /container -->
      </div><!-- /cta -->
      <!-- End 3 Services -->

      <%= render landing_accordion_partial %>

      <!-- Begin Footer -->
      <footer class="footer">
        <div class="container">

          <%= render footer_partial %>

        </div><!-- /container -->
      </footer><!-- /footer -->
      <!-- End Footer -->

    </div><!-- /boxed -->
  </div><!-- /bg boxed-->

</body>
</html>
